@import "tailwindcss";

/* Membuat pergerakan scroll jadi halus saat klik Navbar */
html {
  scroll-behavior: smooth;
}

/* Opsional: Menghilangkan scrollbar biar lebih clean di desktop */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2dd4bf;
}